body {
  background-color: #E6FAFF;
  margin: 0 auto;
  text-align: justify;
  color: #095c6e;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}

nav {
  top: 0px;
  padding: 10px;
  text-align: right;
  width: 100%;
  position: fixed;
  font-size: 20px;
  background-color: #1C4469;
}

nav a {
  padding-right: 25px;
  text-decoration: none;
  color: white;
  font-family: 'Unica One', sans-serif;
}
  
h1 {
  text-align: center;
  font-size: 80px;
  margin: 90px auto 10px auto;
  font-family: 'Bungee Shade', cursive;
  letter-spacing: 4px;
}
  
h2 {
  text-align: center;
  font-size: 36px;
  margin: 0 auto 40px auto;
  font-family: 'Unica One', Helvetica, sans-serif;
  }

#selfie {
  display: block;
  margin: 0 auto;
  width: 300px;
  border-radius: 175px;
}

main {
  width: 60%;
  margin: 0 auto 80px auto;
}

#project-grid {
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.project {
  border: 1px solid #1C4469;
  padding: 10px 10px;
  flex: 1 300px;
  margin: 20px 10px;
}
  
.project-title {
  text-decoration: none;
  color: #377d8d;
  font-size: 20px;
}
  
.project:hover {
  background-color: #1c44692c;
  color: #fff;
}
  
.project-pic {
  height: 140px;
  width: 300px;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.modal p:nth-of-type(2) {
  margin-top: 0;
}

.modal a {
  margin-right: 20px;
}

.modal p:last-of-type {
  margin-bottom: 5px;
}

.modal ul {
  margin-top: 0;
}

h3 {
  font-size: 30px;
  font-family: 'Unica One', Helvetica, sans-serif;
  background: linear-gradient(to right, rgba(28, 68, 105, 1), rgba(0, 0, 0, 0));
  color: white;
  padding: 5px 0 5px 10px;
}

#contact {
  padding-bottom: 50px;
}

#socials {
  text-align: center;
}
  
.profile-link img {
  height: 70px;
  margin: 0 10px 0 10px;
}

@media (max-width: 500px) {
  h1 {
      font-size: 40px;
      margin-top: 50px;
  }

  h2 {
      font-size: 25px;
      margin-bottom: 10px;
  }

  #selfie {
      margin-bottom: 10px;
  }

  main {
      width: 90vw;
      margin-bottom: 40px;
  }
}