body {
  background-color: #E6FAFF;
  margin: 0 auto;
  text-align: justify;
  color: #095c6e;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}

nav {
  top: 0;
  padding: .8rem;
  text-align: right;
  width: 100%;
  position: fixed;
  font-size: 1.2rem;
  background-color: #1C4469;
}

nav a {
  padding-right: 2rem;
  text-decoration: none;
  color: white;
  font-family: 'Unica One', sans-serif;
}
  
h1 {
  text-align: center;
  font-size: 6rem;
  margin: 7rem auto .8rem auto;
  font-family: 'Bungee Shade', cursive;
  letter-spacing: .3rem;
}
  
h2 {
  text-align: center;
  font-size: 2.2rem;
  margin: 0 auto 3rem auto;
  font-family: 'Unica One', Helvetica, sans-serif;
  }

#selfie {
  display: block;
  margin: 0 auto;
  width: 30%;
  max-width: 400px;
  border-radius: 50%;
}

main {
  width: 60%;
  margin: 0 auto 5vh auto;
}

#project-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.project {
  border: 1px solid #1C4469;
  padding: 1rem 1.5rem;
  margin: 1.2rem .8rem;
}
  
.project-title {
  text-decoration: none;
  color: #377d8d;
  font-size: 1.4rem;
}
  
.project:hover {
  background-color: #1c44692c;
  color: #fff;
}
  
.project-pic {
  height: 10vw;
  width: 20vw;
}

.modal-title {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: .3rem;
}

.modal p:nth-of-type(2) {
  margin-top: 0;
}

.modal a {
  margin-right: 1rem;
}

.modal p:last-of-type {
  margin-bottom: .3rem;
}

.modal ul {
  margin-top: 0;
}

h3 {
  font-size: 2rem;
  font-family: 'Unica One', Helvetica, sans-serif;
  background: linear-gradient(to right, rgba(28, 68, 105, 1), rgba(0, 0, 0, 0));
  color: white;
  padding: .3rem 0 .3rem .8rem;
}

#socials {
  text-align: center;
}
  
.profile-link {
  font-size: 4rem;
  margin: 0 .5rem;
  color: rgba(28, 68, 105, 1);
}

.profile-link:hover {
  color: rgba(28, 68, 105, .8);
}



@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
    margin-top: 3.4rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  #selfie {
    width: 40vw
  }

  main {
      width: 90vw;
  }

  .project-pic {
    width: 50vw;
    height: 25vw;
  }
}