@font-face {
  font-family: spinwerad; 
  src: url('Spinwerad.ttf');
}

main {
    font-family: helvetica, sans-serif;
    text-align: center;
    background-color: #e6f1e6;
    display: grid;
    grid-template-rows: 1fr 1.5fr 1.5fr 1fr 50px;
    align-items: center;
  }
  
  body { 
      padding: 0; 
      margin: 0 
    }
  
  #navbar {
    position: fixed;
    top: 0;
    text-align: right;
    width: 100%;
    background-color: #cce5ed;
    font-family: helvetica;
    color: #0E1C36;
    font-size: 20px;
  }
  
  nav a {
    text-decoration: none;
    font-family: helvetica;
    color: #0E1C36;
    font-size: 20px;
    padding: 5px;
  }
  
  nav li {
    display: inline-block;
    text-align: center;
    list-style: none;
  }
  
  nav a:hover {
    color: #5C6F68;
  }
  
  #welcome-section {
    top: 0;
    padding-bottom: 70px;
    background-color: #cce5ed;
    text-align: center;
  }

#inner-contents {
    background-color: #f1f1f1;
    padding: 8em;
}
  
  h1 {
    font-family: spinwerad;
    font-size: 120px;
    color: #5C6F68;
    margin-bottom: 20px;
  }
  
  h2 {
    font-family: Raleway;
    font-size: 50px;
    display: inline-block;
    padding: 3px;
    color: #5C6F68;
    
  }

  #project-grid {
    padding: 8em;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    grid-gap: 30px;
  }
  
  .project-title {
    border: 1px solid #5C6F68;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    color: #8F9491;
  }
  
  .project-title:hover {
    color: #0E1C36;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
  }
  
  #project-pic {
    width: 200px;
  }
  
  a p {
    margin-bottom: 30px;
  }
  
  h3 {
    font-family: Raleway;
    font-size: 70px;
    color: #5C6F68;
  }

  #about {
    padding: 8em;
  }

  p.about-me {
      text-align: justify;
  }
  
  #footer {
    background-image: url("https://freedesignfile.com/upload/2015/01/White-lace-seamless-pattern-background-vector.jpg");
  }
  
  a#profile-link {
    text-decoration: none;
    font-family: helvetica;
    color: #8F9491;
  }
  
  a#profile-link:hover {
    color: #0E1C36
  }
