@font-face {
  font-family: spinwerad; 
  src: url('spinwerad.ttf');
}

html { 
  font-size: 16px;
}

body {
  padding: 0; 
  margin: 0;
}

main {
  font-family: helvetica, sans-serif;
  text-align: center;
  width: 100%;
  background-color: #DDE8DD;
  display: grid;
  grid-template-rows: repeat(5, auto);
}

#navbar {
  position: fixed;
  top: 0;
  text-align: right;
  width: 100%;
  background-color: #66C5C8;
  font-family: helvetica;
  color: #fff;
  font-size: 1.25rem;
}

nav a {
  text-decoration: none;
  font-family: helvetica;
  color: #fff;
  padding: 0.5rem;
}

nav li {
  display: inline-block;
  text-align: center;
  list-style: none;
}

nav a:hover {
  color: #5C6F68;
}
  
header {
  top: 0;
  padding-bottom: 4.375rem;
  padding-right: 4.375rem;
  background-color: #66C5C8;
  text-align: end;
  }
  
h1 {
  font-family: spinwerad;
  font-size: 7.5rem;
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 0;
}

#inner-container {
  padding-left: 5rem;
  padding-right: 5rem;
  width: 70%;
  max-width: 800px;
  margin: auto;
  background-color: #f1f1f1;
}
  
h2 {
  font-family: Raleway;
  font-size: 3.125rem;
  color: #fff;
  margin-top: 0;
  padding-top: 0;
  }

#projects {
  padding: 30px;
}

#project-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project {
  border: 1px solid #5C6F68;
  padding: 1.125rem 1.125rem;
  flex-basis: 300px;
  padding: 1rem;
  margin: 2rem 1rem;
}
  
.project-title {
  text-decoration: none;
  color: #8F9491;
  font-size: 1.25rem;
}
  
.project:hover {
  color: #0E1C36;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}
  
#project-pic {
  width: 250px;
  height: auto;
}

h3 {
  font-family: Raleway;
  font-size: 4.375rem;
  color: #5C6F68;
  text-align: left;
  margin-bottom: 3rem;
}

#about-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#about-text {
  flex: 2 1 400px;
  margin: 0 1rem;
}

#about-selfie {
  flex: 1 2 200px;
  margin: 0 1rem;
  max-width: 400px;
}

#selfie {
  width: 100%;
  height: auto;
}

p.about-me {
  display: inline-block;
  text-align: justify;
}

#contact {
  padding-bottom: 50px;
}
  
.profile-link img {
  height: 5rem;
  margin: 1rem 2.5rem;
}


footer {
  height: 4rem;
  background-color: #66C5C8;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 20px;
  }
} 